*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;}

  img,video{
  width: auto; 
  max-width: 100%; 
  height: auto;}

/*===========
index.html
==========*/

#index{
	width: 96%;
	background-color: #C2E8EB;
	margin: 0 auto;
	border: 1px solid #C2E8EB;

	font-size:100%;
	line-height:1.5;
	font-family:sans-serif;
	}
#index header{
  background-color: red;
  font-weight: 900;
  /*font-size: 3em;*/
  text-align: center;
}
#index .FS{
  width: 100%;
  padding: 10% 20%;
}

#index .FS .column1{
  float: left;
}
#index .FS .Column2{
  float: right;
}
#index .track{
    width: 100%;
    background-color: #214963;
   /* background-color: #FF888C;*/
    padding: 10% 20%;
    border: #57C3C7 solid;}

  #index .track h4{
    font-weight: 900;
    text-align: center;
  }
	
/* ============================
          NAVIGATION 
============================= */  
  
#main_nav{
  clear:both;
}  

#main_nav ul{
  list-style: none;
}

#main_nav li a{
  display:block;
  color:#fff;
  background-color: #555;
  text-transform: uppercase;
  padding: 0.625em; /* 10/16 */
  text-decoration:none;
  border-bottom: 1px solid #eee;
  font-weight:900;
}


#main_nav li a:hover{
  color:#555;
  background-color: #fff;
}
  
#main_nav li a:active, #main_nav li a.active{
  color:#555;
  background-color: #f90;
}  

/* menu button */
.menu a{
  padding:0.5em 0.625em; /*10/16 */
  background-color: #555;
  border-radius:20px 60px;
  color: #fff;
  text-decoration:none;
}

.menu a:hover{
  color:#555;
  background-color: #f90;
}
 
.menu{
  margin-bottom:1em;
}